body {
  font-family: 'Merriweather', serif;
}

#space-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

video {
  z-index: -5;
}

.anubhav-pic {
  border-radius: 100%;
  text-align: center;
  width: 9%;
  position: relative;
  padding: 2rem 0 1.5rem 0;
}

.first {
  text-align: center;
  font-weight: bolder;
  color: #eeeeee;
}

.about {
  padding-bottom: 2.5%;
}

.button {
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #282828;
  border: none;
  border-radius: 12px;
  box-shadow: 0 6px #999;
}

.button:hover {
  background-color: #f4a950;
}

.button:hover {
  /*try changing*/
  /*background-color: #5cdb95;*/
  box-shadow: 0 1px #666;
  transition-delay: 0s;
  transition-timing-function: linear;
  transform: translateY(4px);
}

.buttons {
  width: 30%;
}

.btn {
  margin-bottom: 5%;
}

a {
  color: white;
}

a:hover {
  color: white;
  color: #113f67;
}

a:link {
  text-decoration: none;
}

.face-icon, .insta-icon, .git-icon, .twitter-icon, .web-icon {
  width: 10%;
  position: relative;
  right: auto;
  float: left;
}

.button {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 1.4rem;
  position: relative;
  right: .5rem;
}

.no-js #loader {
  display: none;
}

.js #loader {
  display: block;
  position: absolute;
  left: 100px;
  top: 0;
}

.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url('preloader.jif') center no-repeat #fff;
}

@media (max-width: 1028px) {
  .button {
    font-size: 1.2rem;
    width: 180%;
    margin: 1.7rem;
    position: relative;
    right: 5.3rem;
  }

  .anubhav-pic {
    width: 25%;
  }

  .name, .about {
    text-align: center;
  }

  .face-icon, .insta-icon, .git-icon, .twitter-icon, .web-icon {
    width: 14%;
    position: relative;
    right: auto;
    float: left;
  }

  .button:active {
    /*background-color: #5cdb95;*/
    background-color: #f4a950;
    box-shadow: 0 1px #666;
    transition-delay: 0s;
    transition-timing-function: linear;
    transform: translateY(4px);
  }
}

body {
  margin: 0;
  font: normal 75% Arial, Helvetica, sans-serif;
}

canvas {
  display: block;
  vertical-align: bottom;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000000;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.count-particles {
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles {
  font-size: 1.1em;
}

#stats, .count-particles {
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}

#stats {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles {
  border-radius: 0 0 3px 3px;
}
